/* /styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

@layer utilities {
  /* スクロールバーをスムーズにする */
  .scroll-smooth {
    scroll-behavior: smooth;
  }

  /* カードスナップのためのスタイル */
  .snap-x {
    scroll-snap-type: x mandatory;
  }

  .snap-center {
    scroll-snap-align: center;
  }
}

/* カスタムスクロールバー */
::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(75, 85, 99, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(96, 165, 250, 0.3);
}

/* スクロールバーを非表示にして、hover時に表示 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar:hover::-webkit-scrollbar {
  display: block;
}
